:root{
    --primary-color: #1a4f3f;
    --secondary-color: #e0f2f1;
    --accent-color: #fbc02d;
    --text-color: #212121;
    --bc-color: #ffffff;
    --font-main: 'Segoe UI', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
    margin-bottom: 15px;

}
p{
    text-wrap: pretty;
}
body{
    font-family: var(--font-main);
    background-color: var(--bc-color);
    color: var(--text-color)
}
.header{
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
}

.header__nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav__container h2{
    font-size: 26px;
}
.nav__list{
    display: flex;
    list-style: none;
    gap: 27px;
}
.nav__link{
    text-decoration: none;
    padding: 3px 6px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color .5;
}
.nav__link:hover{
    background-color: #2a8b6e;
}
main{
    padding: 40px;
}
h1, h1 + p{
    text-align: center;
}
.grid{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 32px;
}
.grid__item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0002;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--secondary-color);
}

.grid__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #0005;
}
.grid__item div{
    width: 80%;
    min-width: 250px;
    margin: 0 auto;
    overflow: hidden;
}
.grid__item img {
    width: 100%;
    margin: 20px 0;
    border-radius: 4px;
}

.grid__item h2 {
    text-align: center;
    margin-top: 7px;
    padding: 10px;
    font-size: 20px;
    color: var(--primary-color);
}

.grid__item p {
    text-align: center;
    padding: 0 5px;
    font-size: 15px;
    color: var(--text-color);
    line-height: 1.5;
}

.call__to__action{
    text-align: center;
}
.call__to__action a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 7px 0 #0005;
}
footer{
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 17px;
}
@media screen and (max-width: 1070px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px) {
    .header__nav{
        display: none;
    }
}
@media screen and (max-width: 750px){
    .grid{
        grid-template-columns: 1fr;
        margin: 50px auto;
    }
    .grid__item{
        min-width: 350px;
    }
    .grid__item h2{
        font-size: 30px;
    }
    .grid__item p{
        font-size: 20px;
    }
    .grid__item div{
        max-width: 300px;
        min-width: 20px;
    }
    
}